

$grey-primary: #666666;
$grey-primary-h: #464646;
$primary: #50A6CA;
$white: #ffffff;

$font-family-titles:        Menlo, sans-serif;
$font-family-code:          Consolas, sans-serif;
$font-family-contents:      Merriweather, sans-serif;
$font-family-base:          Merriweather, sans-serif;

$font-family-sans-serif:    "Merriweather";
$font-family-monospace:     "Montserrat";

@import "palette";
@import "options";
@import "spacing";
@import "body";
@import "links";
@import "paragraphs";
@import "paragraphs";
@import "grids";
@import "fonts";
@import "tables";
@import "forms";
@import "navs";
@import "components";
@import "animations";
@import "layout";
