
#content {
    transition: $base-animation;
    margin-left: $sidenav-size;
    margin-top: $header-height;

    &.closed {
        margin-left: 0;
    }
}

#sidebar {
    transition: $base-animation;
    min-width: $sidenav-size;
    max-width: $sidenav-size;

    &.closed {
        margin-left: -$sidenav-size;
    }
}

.section {
    position: relative;
    overflow: hidden;
    .text {
        transition: $base-animation;
        width: calc(100% - #{$largura});
        &.closed {
            width: 100%;
        }
    }

    code {
        position: absolute;
        transition: $base-animation;
        border-radius: $border-radius;
        
        width: $largura;
        height: 150%;
        left: calc( 100% - #{$largura} );
        &.closed {
            left: $largura-f;
        }
    }
}

.codeCollapse {
    position: absolute;
    top: 0;
    left: 0;

    transition: $base-animation;
    // z-index: 9999;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    
    // top: calc(#{$header-height} + 20px);
    // left: calc( 100% - #{$largura} );

    // &.closed {
    //     left: $largura-f;
    // }
}

  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: $base-animation;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }

  .all_menu {
      a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        content: '\e259';
        display: block;
        position: absolute;
        right: 20px;
        font-family: 'Glyphicons Halflings';
        font-size: 0.6em;
      }
      
      a[aria-expanded="true"]::before {
        content: '\e260';
      }
  }
  


/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    
    #sidebar {
        z-index: 99;
        position: fixed;
    }
    .section {
        position: relative;
        .text {
            transition: $base-animation;
            width: 100%;
        }
    }
}