body {
  font-family: $font-family-contents;
  background: #fafafa;
}

p {
  font-family: $font-family-contents;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-titles;
  font-weight: bold;
}

.bg-light {
  background-color: #ffffff !important;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: " ";
}
