body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #dddddd;
}

// ul.CTAs {
//   padding: 20px;
// }

// ul.CTAs a {
//   text-align: center;
//   font-size: 0.9em !important;
//   display: block;
//   border-radius: 5px;
//   margin-bottom: 5px;
// }

// a.download {
//   background: #fff;
//   color: #666666;
// }

// a.article, a.article:hover {
//   background: #dddddd !important;
//   color: #fff !important;
// }



.bg-light {
  background-color: #ffffff !important;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: " ";
}