// @import "../fonts/css/fontawesome-all.min.css";

h1 { font-size: 30px; }
h2 { font-size: 24px; }

.primary { color: #50A6CA; }
.grey { color: #666666; }
.grey_text { color: #6f6f6f; }

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../font/glyphicons/glyphicons-halflings-regular.eot") format("eot"),
        url("../font/glyphicons/glyphicons-halflings-regular.woff2") format("woff2"),
        url("../font/glyphicons/glyphicons-halflings-regular.woff") format("woff"),
        url("../font/glyphicons/glyphicons-halflings-regular.ttf") format("truetype");
}

@import "glyphicons";

@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: url("../font/Montserrat/Montserrat-Light.eot") format("eot"),
        url("../font/Montserrat/Montserrat-Light.woff2") format("woff2"),
        url("../font/Montserrat/Montserrat-Light.woff") format("woff"),
        url("../font/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url("../font/Montserrat/Montserrat-Bold.eot") format("eot"),
        url("../font/Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("../font/Montserrat/Montserrat-Bold.woff") format("woff"),
        url("../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 100;
    src: url("../font/Merriweather/Merriweather-Light.eot") format("eot"),
        url("../font/Merriweather/Merriweather-Light.woff2") format("woff2"),
        url("../font/Merriweather/Merriweather-Light.woff") format("woff"),
        url("../font/Merriweather/Merriweather-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 300;
    src: url("../font/Merriweather/Merriweather-Regular.eot") format("eot"),
        url("../font/Merriweather/Merriweather-Regular.woff2") format("woff2"),
        url("../font/Merriweather/Merriweather-Regular.woff") format("woff"),
        url("../font/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 700;
    src: url("../font/Merriweather/Merriweather-Bold.eot") format("eot"),
        url("../font/Merriweather/Merriweather-Bold.woff2") format("woff2"),
        url("../font/Merriweather/Merriweather-Bold.woff") format("woff"),
        url("../font/Merriweather/Merriweather-Bold.ttf") format("truetype");
}

$font-family-sans-serif:    "Merriweather";
$font-family-monospace:     "Montserrat";
