.navbar {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    background: #fff;
    border: none;
    border-radius: 0;
    // margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.section {
    border-top: solid 1px #dedede;
    
    .text {
        padding: 30px;
    }

    code {
        padding: 20px;
        background-color: #000000;
    }
}


// li.nav-item {
    .nav-tabs .nav-link {
        border: 0px;
        color: #ffffff;
        background-color: transparent;
        border-bottom: 0px solid transparent;
        border-color: #ffffff;
    }
    
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #ffffff;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 4px solid transparent;
        border-color: #ffffff;
    }

    a, a:hover, a:focus {
        transition: unset;
    }
// }
